<div class="space-y-6 flex flex-col items-stretch w-full">
  <div class="text-center font-light">
    <h2 class="text-2xl self-center mb-2 text-on-surface">{{formTitle()}}</h2>

    @if (formDescription()) {
    <p class="text-on-secondary-container text-headline-large">
      {{formDescription()}}
    </p>
    }
  </div>

  <form
    (ngSubmit)="handleSubmit()"
    [formGroup]="authForm"
    class="flex flex-col gap-6"
  >
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput type="text" />
      @if (authForm.get("username")?.hasError("minlength")) {
      <mat-error>Username must not be empty.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" />
      @if (authForm.get("password")?.hasError("strongPassword")) {
      <mat-error
        >Password must have 8 characters consisting of a symbol, uppercase
        letter, lowercase letter, and numbers.</mat-error
      >
      }
    </mat-form-field>

    <div class="flex flex-col gap-4 w-full">
      <button mat-flat-button [disabled]="!authForm.valid" type="submit">
        {{submitButtonLabel()}}
      </button>
      <a
        mat-button
        [routerLink]="redirectLink()"
        class="w-max mx-auto inline-block"
      >
        {{redirectLinkLabel()}}
      </a>
    </div>
  </form>
</div>
